.wrapper{
	padding-top: 50px;
	padding-bottom: 50px;

}

div.gray {
	background-color: gray;
}

td {
	text-align: center;
}

label.login {
	display: inline-block;
	padding: 10px;
	color: white;
}

label.date {
	padding: 10px;
	font-size: 10px;
}

label.inc {
	display: inline-block;
	padding: 10px;
	color: white;
}